  <div class="row no-gutters">
    <div class="col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="jumbotron jumbotron-fluid centered card">
        <h2>UTENTI</h2>
        <p class="font-card">Pagina per la gestione degli utenti</p>
        <p>
          <a class="btn btn-bc btn-lg" href="users" role="button">ENTRA</a>
        </p>
      </div>
    </div>
    <div class="col-sm-1 col-md-2 col-lg-2"></div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="jumbotron jumbotron-fluid centered card">
        <h2>TRANSAZIONI</h2>
        <p class="font-card">Pagina per la gestione delle transazioni</p>
        <p>
          <a class="btn btn-bc btn-lg" href="transactions" role="button">ENTRA</a>
        </p>
      </div>
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1"></div>
  </div>
