<div class="jumbotron jumbotron-fluid card">
  <div class="centered">
    <h2>DETTAGLIO UTENTE</h2>
  </div>
  <div>
    <div class="blank-row"></div>
    <div class="row no-gutters">
      <div class="col-sm-1 col-md-1 col-lg-1"></div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        NOME
          <input type="text" [(ngModel)]='nome'>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2"></div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        COGNOME
          <input type="text" [(ngModel)]='cognome'>
      </div>
      <div class="col-sm-1 col-md-1 col-lg-1"></div>
    </div>
  </div>
  <div class="blank-row"></div>
  <p class="centered">
    <a class="btn btn-bc btn-lg" (click) = "updateUser()" role="button">SALVA</a>
  </p>
  <p class="centered">
    <a class="btn btn-bc btn-lg" (click) = "deleteUser()" role="button">ELIMINA</a>
  </p>

</div>
